/* ----------------------------------------------------
変数を定義
---------------------------------------------------- */
:root {
  /* フォーム全体の幅（横いっぱいにする場合は100%） */
  --form-width: 90%;

  /* フォーム上の余白（不要の場合は0） */
  --form-paddingTop: 18px;

  /* フォーム下の余白（不要の場合は0） */
  --form-paddingBottom: 60px;

  /* 項目名の文字色 */
  --form-title-color: #707070;

  /* 項目内容の文字色 */
  --form-text-color: #2e2e2e;

  /* 必須の文字色 */
  --form-required-textColor: #ffa500;

  /* 必須の背景色 */
  --form-required-bgColor: #ffffff;

  /* 送信ボタンの文字色 */
  --form-submit-textColor: #fff;

  /* 送信ボタンの背景色 */
  --form-submit-bgColor: #2e2e2e;

  /* 【スマホ時】上の余白（不要の場合は0） */
  --form-sp-paddingTop: 30px;

  /* 【スマホ時】下の余白（不要の場合は0） */
  --form-sp-paddingBottom: 30px;

  /* 【スマホ時】左右それぞれの余白（不要の場合は0） */
  --form-sp-paddingLeftRight: 20px;
}

/* ----------------------------------------------------
Reset
---------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  min-height: 0;
}

body {
  margin: 0;
  background: #fff;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  vertical-align: middle;
}

[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

select::-ms-expand {
  display: none;
}

option {
  padding: 0;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label[for] {
  cursor: pointer;
}

/* ----------------------------------------------------
Date Picker
---------------------------------------------------- */
.ui-widget-content {
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
}

.ui-widget-header {
  border: 1px solid #ddd;
  background: #e9e9e9;
  color: #333;
  font-weight: 700;
}

.ui-button,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
html .ui-button.ui-state-disabled:active,
html .ui-button.ui-state-disabled:hover {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: 400;
  color: #454545;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #fffa90;
  color: #777620;
}

.ui-button.ui-state-active:hover,
.ui-button:active,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: 400;
  color: #fff;
}

.ui-datepicker {
  width: 17em;
  padding: 0.2em 0.2em 0;
  display: none;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}

.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-prev-hover {
  top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}

.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 45%;
}

.ui-datepicker table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  margin: 0 0 0.4em;
}

.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: 700;
  border: 0;
}

.ui-datepicker td {
  border: 0;
  padding: 1px;
}

.ui-datepicker td a,
.ui-datepicker td span {
  display: block;
  padding: 0.2em;
  text-align: right;
  text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: 0.7em 0 0 0;
  padding: 0 0.2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: 0.5em 0.2em 0.4em;
  cursor: pointer;
  padding: 0.2em 0.6em 0.3em 0.6em;
  width: auto;
  overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto 0.4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

.ui-datepicker-rtl {
  direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

.ui-datepicker .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  left: 0.5em;
  top: 0.3em;
}

/* ----------------------------------------------------
Form Style
---------------------------------------------------- */
form.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;

  color: var(--form-text-color);
  background-color: #fff;
  width: var(--form-width);
  max-width: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: var(--form-paddingTop);
  padding-bottom: var(--form-paddingBottom);
}

form.form p,
form.form p.email-pref,
form.form p.no-label {
  line-height: 1.4;
  margin: 0;
  margin-top: 45px;
  padding: 0;
}

form.form p:first-of-type {
  margin-top: 0;
}

form.form p.no-label {
  margin-top: 5px;
}

form.form p label {
  float: none;
  display: block;
  color: var(--form-title-color);
  margin-bottom: 8px;
  padding: 0 15px 0 0;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  width: max-content;
}

form.form p.required label,
form.form span.required label {
  background-image: none;
}

.required .field-label::after {
  color: var(--form-required-textColor);
  background-color: var(--form-required-bgColor);
  content: "※";
  font-size: 10px;
  font-weight: normal;
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px 10px;
  vertical-align: 3px;
}

form.form input.text {
  width: 100%;
}

form.form input,
form.form input.date,
form.form select,
form.form textarea,
form.form textarea.standard {
  border: solid 1px #000;
  background-color: #fff;
  background-image: none;
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  color: var(--form-text-color);
  padding: 8px 16px;
  border-radius: 0;
}

form.form input,
form.form input.date,
form.form select {
  height: 48px;
}

form.form input[type="checkbox"],
form.form input[type="radio"] {
  width: auto;
  display: none;
}

form.form .value span label.inline {
  position: relative;
  font-weight: normal;
  padding-left: 28px;
}

form.form .pd-checkbox .value span label.inline::before,
form.form .pd-radio .value span label.inline::before {
  content: "";
  display: block;
  background: #fff;
  border: 1px solid #cbd6e2;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
}

form.form .pd-radio .value span label.inline::before {
  border-radius: 100%;
}

form.form .pd-checkbox .value span label.inline::after {
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  content: "";
  display: block;
  width: 8px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -9px;
  opacity: 0;
  transform: rotate(45deg);
}

form.form .pd-radio .value span label.inline::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #666;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-50%, -50%);
  margin-top: -1px;
  border-radius: 100%;
  opacity: 0;
}

form.form input[type="checkbox"]:checked + label.inline:after,
form.form input[type="radio"]:checked + label.inline:after {
  opacity: 1;
}

form.form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_4205_6302)%22%3E%3Cpath%20d%3D%22M7.41%208.59L12%2013.17L16.59%208.59L18%2010L12%2016L6%2010L7.41%208.59Z%22%20fill%3D%22%23282829%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_4205_6302%22%3E%3Crect%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E')
}

form.form span.value {
  margin-left: 0;
}

form.form textarea.standard {
  height: 200px;
}

::placeholder {
  color: #d9d9d9;
}

form.form p.submit {
  margin: 0;
  padding: 0;
}

form.form p.submit input {
  display: block;
  color: var(--form-submit-textColor);
  background-color: var(--form-submit-bgColor);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 654px;
  max-width: 80%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  position: relative;
}

form.form p.submit input::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #fde7d1 transparent transparent transparent;
  border-width: 20px 20px 0 20px;
}

.red-background,
form.form p.errors {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #de4b4c;
  padding: 15px 10px;
  color: white;
}

.red-color,
form.form div.error {
  color: var(--form-title-color);
}

form.form p.error label,
form.form span.error {
  color: var(--form-text-color);
}

form.form p.error {
  color: #de4b4c;
  font-size: 14px;
  font-weight: bold;
}

form.form p.error:not(.form-field)::before {
  content: "■";
}

form.form .form-text.error {
  color: #CD1212;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-top: 8px;
  margin-bottom: 0;
}

.form-field.form-group.row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  gap: 8px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-field.form-group.row.last_name,
.form-field.form-group.row.first_name {
  width: 50%;
}

.form-field.form-group.row * {
  width: 100%;
  max-width: 100%;
}

.form-field.form-group.row label.form-label {
  font-size: 16px;
  font-weight: 700;
  list-style: 19.36px;
  color: #000;
  margin-bottom: 0;
}

.submit {
  margin-top: 64px;
  height: 86px;
}

.submit input.btn {
  width: 373px;
  height: 100%;
  border: 1px solid #000;
  border-radius: 100px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
}

.submit input.btn:hover {
  background-color: #000;
  color: #fff;
}

/* ----------------------------------------------------
Responsive
---------------------------------------------------- */
@media screen and (max-width: 767px) {
  .form.form {
    width: 100%;
    padding-top: var(--form-sp-paddingTop);
    padding-bottom: var(--form-sp-paddingBottom);
    padding-left: var(--form-sp-paddingLeftRight);
    padding-right: var(--form-sp-paddingLeftRight);
    gap: 16px;
  }
  form.form .form-field,
  form.form .form-field.email-pref,
  form.form .form-field.no-label {
    margin-top: 30px;
  }
  form.form .form-field label {
    font-size: 16px;
  }
  form.form p.submit input {
    font-size: 16px;
  }
  .form-field.form-group.row.last_name,
  .form-field.form-group.row.first_name {
    width: 100%;
  }
}


